.top{
    background-color: indigo !important;

}
.nav-link{
    color: white !important;
    font-weight: bold !important;
    
}
.navbar{
    background-color: #D50000 !important;
}
.fa-shopping-cart:hover{
    background-color: blue !important;
}
.footer{
    background-color: whitesmoke !important;

}
.i1:hover{
    background-color: blue;
}
.i1{
    cursor: pointer;
}
.foo{
    color: blue;
    text-align: left;
    padding-left: 3px;
    margin-left: auto;
}
.card{
    width: 250px;
    height: auto;
    margin-top: 50px;
    cursor: pointer;
}


.btn:hover{
    background-color: skyblue;
}

.end{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: indigo;
    color: white;
    text-align: center;
 }
 p{
    font-weight: bold;
    color:white;
 }

 @media screen and (max-width: 720px) {

    .card{
         width: 100%;
    }
    

